@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&family=Space+Grotesk:wght@300;400;700&display=swap');

/*
    font-family: 'Rajdhani', sans-serif;

    font-family: 'Space Grotesk', sans-serif;
*/

:root {
  --yellow-logo: #ffff00;
  --yellow-txt: #f8f184;
  --blue-bck: #19587d;
  --red-color: #b11313;
  --gray-color: #c4c4c4;
  --border-color: #ffffff10;
  --hover-filter: brightness(0) saturate(100%) invert(85%) sepia(87%) saturate(6614%) hue-rotate(360deg) brightness(107%) contrast(105%);
}

*,
a,
::before,
::after,
span,
strong,
em {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-style: normal;
  color: #fff;
}

html {
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: normal;
}

body {
  background: #000 url("../illustrations/Bathome1.png") no-repeat scroll center top;
  background-size: contain;
  overflow-x: hidden;
}

.body-container {
  width: 100vw;
}

/* --- Setting all typo ---*/
h1 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 36px;
  font-weight: normal;
}

h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

p {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: normal;
}

button {
  font-family: 'Rajdhani', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

/*---- Container ----*/
.container {
  width: 80%;
  margin: 0 auto;
}

/*---- Yellow over button ----*/
.yellow-button:hover {
  filter: var(--hover-filter);
}

/*----- Border left and right ----*/
header,
.bat-intro,
.bat-cinema,
.nemesis,
.alies,
.justice-league,
.multimedia,
.quote-container,
footer {
  border-left: 2px solid var(--border-color);
  border-right: 3px solid var(--border-color);
}

header {
  border-bottom: 4px solid var(--border-color);
  height: 100px;
  padding: 50px 50px 170px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 15px;
}

nav img {
  width: 120px;
  height: auto;
}

nav ul li a {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  position: relative;
}

/*---- Navigation animation ----*/
nav ul li a::before {
  content: "";
  width: 0;
  height: 4px;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  transition: width .5s ease-in-out;
}

nav ul li a:hover::before {
  width: 100%;
}

/*---- Section "bat-intro" ----*/
.bat-intro {
  height: 700px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
}

.bat-intro div {
  width: 70%;
  text-align: center;
}

.bat-intro div p {
  line-height: 1.6rem;
  margin: 20% 0 5%;
  padding: 0 20%;
}

.bat-intro h1 {
  margin-bottom: 5%;
}

.bat-intro .button a {
  background-image: linear-gradient(to right, #eddebf50 60%, #8900099d);
  font-size: 22px;
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;
  width: 250px;
  margin: 0 20px;
  padding: 30px 0;
  display: inline-block;
}

.bat-intro .button a:hover {
  background-image: linear-gradient(to right, #eddebfee 20%, #890009);
}

.bat-intro aside {
  height: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: -54px;
  top: 50%;
  transform: translateY(-50%);
}

.bat-intro aside .social-media-aside a {
  display: block;
}

.bat-intro aside .social-media-aside a:nth-child(even) {
  margin: 30px 0;
}

.bat-intro .img-bot {
  position: absolute;
  bottom: 0;
}

/*---- Setting width of images illustration -----*/
.bat-cinema,
.nemesis,
.alies,
.justice-league {
  padding: 70px 50px 50px;
}

/*---- Display "flex" of Actor's pic ----*/
.photo-acteur {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

:is(.bat-cinema, .nemesis, .alies, .justice-league, .multimedia) h1 {
  margin-bottom: 35px;
}

:is(.bat-cinema, .nemesis, .alies, .justice-league) p {
  text-align: justify;
  width: 90%;
  line-height: 25px;
  font-weight: normal;
  margin-bottom: 4rem;
}

.photo-container img {
  width: 100%;
  object-fit: contain;
}

.photo-container p {
  font-family: 'Space Grotesk', sans-serif;
  text-align: center;
}

.nemesis-title {
  position: relative;
}

.nemesis-title img {
  width: 150px;
  position: absolute;
  left: 100px;
  top: -80px;
}

.alies {
  position: relative;
}

img[alt="Batman Badass"] {
  position: absolute;
  right: -110px;
  top: -190px;
}

.sliding-container {
  width: 100%;
  margin: 5px 0 20px;
}

.sliding-container>img {
  object-fit: contain;
}

/*---- Section "multimedia" ----*/
.multimedia {
  padding: 50px 5rem 60px;
}

.multimedia-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
}

.multimedia-section p {
  font-size: .8rem;
  margin: 10px 0 2px;
}

.multimedia-section span {
  color: var(--yellow-logo);
}

.details-container {
  margin: 20px 0 10rem;
  padding: 1px 20px 1px 1px;
  width: 60%;
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, #c4c4c449 50%, #19578d6e);
}

.details-container .synopsis {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 12px;
  text-align: justify;
}

.details-container img {
  float: left;
  margin-right: 20px;
}

img[title="left-arrow"] {
  position: absolute;
  top: 100px;
  left: 0;
}

.multimedia-section div+img {
  position: absolute;
  right: 0;
  top: 100px;
}

.multimedia-section img+img {
  width: 100%;
  cursor: pointer;
}

.multimedia-section img+img:hover {
  box-shadow: 0 0 50px 20px #ffffff88;
}

/*---- Contact ----*/
.contact {
  width: 100%;
  max-height: 900px;
  background-image: linear-gradient(to left top, #19587d56 30%, #c4c4c470);
}

.contact-container {
  width: 55%;
  margin: 0 auto;
  padding: 4rem 0 1rem;
}

.contact-container h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 3rem;

}

.contact-container form {
  height: 900px;
}

.contact-container label {
  font-size: 1.2rem;
}

input[type="email"],
input[name="message"] {
  background: none;
  width: 100%;
  margin: 0 0 50px;
  padding-top: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 1.1rem;
}

input[type="email"]:focus,
input[name="message"]:focus {
  outline: none;
}

.lb-block {
  display: block;
}

.contact-form label {
  line-height: 2rem;
}

label[for="newsletter"] {
  margin-bottom: 20px;
}

.dropmenu {
  position: relative;
  margin: 20px 0 20px;
}

.dropdown {
  width: 100%;
  background-image: linear-gradient(to left top, #345568 30%, #665858);
  position: absolute;
  top: -150px;
  opacity: 0;
  visibility: hidden;
}

.dropdown ul {
  list-style: none;
  padding-top: 5px;
  font-size: .9rem;
}

.dropdown.activated {
  top: 23px;
  opacity: 1;
  visibility: visible;
  transition: top .5s ease-in-out;
}


.dropdown ul li {
  padding: 8px 0 5px 6px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.dropmenu>input,
.contact-form div input {
  width: 100%;
  margin-right: 10px;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: default;
  border-bottom: 1px solid #fff;
}

.dropmenu>img {
  width: 22px;
  transform: rotate(-90deg);
  filter: brightness(0) saturate(100%) invert(32%) sepia(2%) saturate(2952%) hue-rotate(125deg) brightness(101%) contrast(69%);
  position: absolute;
  right: 0;
  top: -7px;
}

.btn-group {
  margin: 25px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.btn-group button {
  display: block;
  padding: 7px 18px;
  border-top: 1px solid var(--gray-color);
  border-left: 1px solid var(--gray-color);
  border-right: 1px solid var(--blue-bck);
  border-bottom: 1px solid var(--blue-bck);
  border-radius: 0;
  background: none;
  font-size: .7rem;
}

.btn-group button:nth-child(even) {
  margin: 0 50px;
}

button[type="submit"] {
  width: 300px;
  margin: 50px auto 0;
  padding: 20px;
  cursor: pointer;
  background-image: linear-gradient(to right, #eddebf2d 10%, #890009ee);
  border: none;
  display: block;
}

button[type="submit"]:hover {
  background-image: linear-gradient(to right, #ffffff8a 30%, #890009);
}

.contact-form textarea {
  background: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;

}

/*----- Quote -----*/
.quote-container {
  height: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.quote {
  width: 45%;
}

.quote-container img {
  position: absolute;
}

.quote-container img[alt="guillemets 1"] {
  top: 30%;
  left: 10%;
}

.quote-container img[alt="guillemets 2"] {
  bottom: 30%;
  right: 10%;
}

.quote {
  margin: 20px 0 0;
}

.quote blockquote {
  font-weight: 500;
  line-height: 30px;
}

.quote p {
  line-height: 30px;
  font-size: .8rem;
  font-weight: 300;
  margin-top: 10px;
}

/*----- Footer ----*/
footer {
  height: 300px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

footer div {
  margin-bottom: 30px;
  font-size: .6rem;
  font-family: 'Space Grotesk', sans-serif;
}

footer div p {
  display: inline-block;
}

footer div:nth-child(1) img {
  margin-right: 10px;
  position: relative;
  bottom: -8px;
}

footer .links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}


footer .links a {
  display: block;
  margin: 0 15px;
}